attr==0.3.2
backports.statistics==0.1.0
brotli==1.2.0
brotlicffi==1.2.0.1
chardet==7.4.3
ConfigParser==7.2.0
cryptography==49.0.0
docutils==0.23
filelock==3.29.4
h2==4.3.0
HTMLParser==0.0.2
ipython==9.14.1
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
pyodide==0.0.2
pyOpenSSL==26.3.0
redis==8.0.0
simplejson==4.1.1
Sphinx==9.1.0
thread==2.0.6
typing_extensions==4.15.0
xmlrpclib==1.0.1
