attr==0.3.2
backports.statistics==0.1.0
brotli==1.2.0
brotlicffi==1.2.0.1
chardet==7.4.3
ConfigParser==7.2.0
coverage==7.14.1
cryptography==49.0.0
docutils==0.23
filelock==3.29.4
h2==4.3.0
HTMLParser==0.0.2
ipython==9.14.1
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
lxml==6.1.1
Parser==0.1
pyodide==0.0.2
pyOpenSSL==26.3.0
pythran==0.18.1
redis==8.0.0
runtests==0.0.28
setuptools==82.0.1
simplejson==4.1.1
Sphinx==9.1.0
thread==2.0.6
typing_extensions==4.15.0
xmlrpclib==1.0.1
certifi==2026.5.20
charset-normalizer==3.4.7
Cython==3.2.5
docopt==0.6.2
idna==3.18
pipreqs==0.4.13
requests==2.34.2
sockets==1.0.0
urllib3==2.7.0
yarg==0.1.10
